
@{
    ViewBag.Title = "ChangePasswordSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="row">
        <div class="page-title">
            <div class="title_left">
                @*<h3>Stores @*<small>Some examples to get you started</small></h3>*@
            </div>
        </div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form action="@Url.Action("ChangePasswordSetting","Store")" method="post">
                        @Html.AntiForgeryToken()
                        <h1>Change Password</h1>
                        @if (ViewBag.Password != "True")
                    {
                        <div style="color:red">Old Password is wrong</div>
                }
                        
                            @*<input type="text" style="display:none" value="@id" name="Id" class="form-control" placeholder="Username" required="" />*@
                       
                        <div>
                            <input type="password" id="oldpassword" name="OldPassword" class="form-control" placeholder="Old Password" required="" />
                        </div>
                        <div>
                            <input type="password" id="password" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <input type="password" id="confirm_password" class="form-control" placeholder="Confirm Password" required="" />
                        </div>
                        <div class="text-center">

                            <input type="submit" style="margin-left: 38%;" class="btn btn-default submit" value="Save" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            Minimum password length-8<br />
                            Minimum uppercase character-1<br />
                            Minimum lowercase character-1<br />
                            Minimum numeric character-1<br />
                            Minimum special character-1
                            @*<div class="clearfix"></div>*@
                            <br />
                            @*<div>
            <h1><i class="fa fa-paw"></i>Store Ordering</h1>
            <p>©@DateTime.Now.Year All Rights Reserved.(RFPL IT Team)</p>
        </div>*@
                        </div>
                    </form>
                </section>
            </div>

        </div>
    </div>
</div>

