<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="IntervalMins" value="5" />
    <add key="host" value="mail.smtp2go.com" />
    <!--<add key="Port" value="2525" />-->
    <add key="Port" value="2525" />
    <add key="Timeout" value="10000" />
    <add key="UserID" value="Notifications@rkfoodland.com" />
    <add key="EmailPassword" value="rfpl1234" />
    <add key="SendMailFrom" value="notifications" />
    <add key="FromAddress" value="Notifications@rkfoodland.com" />
  </appSettings>
</configuration>